<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="/src/assets/reccomendations.js"></script>
  </head>
  
    <body>
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">
      
              <div class="section-header">
                <h2>Recomendaciones</h2>
                <p></p>
              </div>
      
              <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
       
                  </div><!-- End testimonial item -->
      
                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <div class="d-flex align-items-center">
                    
                          <div>
                            <h3>Personalización del CV</h3>
                          
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Adapta tu currículum para cada puesto al que postules, resaltando experiencias y habilidades relevantes para el trabajo específico. Evita un enfoque de "talla única" y demuestra cómo tus experiencias pasadas te hacen un candidato ideal para cada rol.
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <div class="d-flex align-items-center">
                          <div>
                            <h3>Preparación para la Entrevista</h3>
                            
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Investiga sobre la empresa y el puesto antes de la entrevista. Prepara respuestas a preguntas comunes y piensa en ejemplos específicos que demuestren tus habilidades y logros. También, prepara preguntas para hacer al entrevistador que muestren tu interés y conocimiento sobre la empresa y el puesto.
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <div class="d-flex align-items-center">
    
                          <div>
                            <h3>Desarrollo de Habilidades Blandas</h3>
                            
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Además de las habilidades técnicas, enfócate en desarrollar habilidades blandas como la comunicación, el trabajo en equipo, la resolución de problemas y la adaptabilidad. Estas habilidades son altamente valoradas en casi todos los campos y pueden marcar la diferencia en una entrevista.
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <div class="d-flex align-items-center">
                          <div>
                            <h3>Red de Contactos Profesionales</h3>

                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Construye y mantén una red de contactos profesionales. Asiste a eventos del sector, participa en grupos de discusión profesional y utiliza plataformas de networking como LinkedIn. Las conexiones pueden ser una valiosa fuente de referencias y consejos para tu carrera.
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <div class="d-flex align-items-center">
                         
                          <div>
                            <h3>Feedback Post-Entrevista</h3>
                            
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Después de una entrevista, es útil pedir retroalimentación, especialmente si no fuiste seleccionado. Esto puede darte ideas sobre áreas de mejora y aumentar tus posibilidades de éxito en futuras entrevistas. Además, mantener una actitud positiva y profesional en todo momento deja una buena impresión, lo que puede ser beneficioso a largo plazo.
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                </div>
                <div class="swiper-pagination"></div>
              </div>
      
          </section>
    </body>
</html>
