    <!-- Footer Start -->
    <div class="container-fluid text-white-50 footer bg-dark pt-5" style="background-color: #3A526B !important" >
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                  <a style="text-decoration: none;" class="d-inline-block mb-3">
                      <h1 class="text-white">CV<span style="color:  #E08F02;">.</span>Builder</h1>
                  </a>
                  <p style="text-align: justify;color: rgb(225, 227, 230);" class="mb-0">CVBuilder es una plataforma innovadora que ayuda a tener la documentación
                    necesaria para la búsqueda de empleo. Nuestra misión es brindar las herramientas necesarias
                      para crear un currículum vitae efectivo y destacar en el mercado laboral.
                       ¿Te encuentras preparado para impulsar tu carrera?</p>
              </div>
              <div style="text-align: justify;color: rgb(219, 222, 225);" class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                  <h5 class="text-white mb-4">Contacto</h5>
                  <p><i class="fa fa-map-marker-alt me-3"></i>Universidad del Valle de Guatemala</p>
                  <p><i class="fa fa-phone-alt me-3"></i>Ciudad de Guatemala</p>
                  <p><i class="fa fa-envelope me-3"></i>CVBuilder.com</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-envelope"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-arrow-up-circle-fill"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-clipboard2-check"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-bookmark-star-fill"></i></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                  <h5 class="text-white mb-4">Popular Link</h5>
                  <a class="btn btn-link" href="">About Us</a>
                  <a class="btn btn-link" href="">Contact Us</a>
                  <a class="btn btn-link" href="">Privacy Policy</a>
                  <a class="btn btn-link" href="">Terms & Condition</a>
                  <a class="btn btn-link" href="">Career</a>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                  <h5 class="text-white mb-4">Our Services</h5>
                  <a class="btn btn-link" href="">Robotic Automation</a>
                  <a class="btn btn-link" href="">Machine learning</a>
                  <a class="btn btn-link" href="">Predictive Analysis</a>
                  <a class="btn btn-link" href="">Data Science</a>
                  <a class="btn btn-link" href="">Robot Technology</a>
              </div>
          </div>
      </div>
      <div class="container wow fadeIn" data-wow-delay="0.1s">
          <div class="copyright">
              <div class="row">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      &copy; <a class="border-bottom" href="#">CV BUILDER</a>, All Right Reserved.

                      <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                      Designed By <a class="border-bottom" target="_blank" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                  </div>
                  <div class="col-md-6 text-center text-md-end">
                      <div class="footer-menu">
                          <a href="">Home</a>
                          <a href="">Help</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->
