  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center py-2">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a ><span></span>CV BUILDER</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar ">
        <ul>
          <li ><a class="nav-link scrollto active" >Inicio</a></li>
          <li><a class="nav-link scrollto" ></a></li>

          <li><a routerLink="/login" class="nav-link scrollto">Login</a></li>
          <li><a routerLink="/login"class="nav-link scrollto" ></a></li>
          <li><a routerLink="/register" class="nav-link scrollto" >Registro</a></li>
          <li><a class="nav-link scrollto" ></a></li>
          <li><a routerLink="/profile" clas="nav-link scrolto">Perfil</a></li>

        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
