<!DOCTYPE html>
<html>
    <header>
        <div >
            <!--<p>CVBuilder</p>-->
            <nav >
                <li class="p1">CVBuilder</li>
                <li>          </li>
                <li>          </li>
                <li>          </li>
                <li>          </li>
                <li>          </li>
                <li>          </li>
                <li>          </li>
                <button class="button1">Home</button>
                <button class="button1">About</button>
                <button class="button1">Team</button>
                <a href="/login" class="button1">Login</a>
                <a href="/register" class="button1">Register</a>

            </nav>

        </div>
    </header>

    <body>

    </body>

    <footer>
        <div class="footer1">
            <p>Universidad del Valle de Guatemala</p>
            <p>Guatemala, Guatemala City</p>
            <p>Copyright CVBuilder. All Rights Reserved</p>
        </div>
    </footer>

</html>
