<!DOCTYPE html>
<html lang="en">
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center py-2">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a ><span></span>CV BUILDER</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar ">
        <ul>
          <li *ngIf="_usuarioService.obtenerIdentidad().rol == 'ROL_CLIENTE'"><a [routerLink]="['/user/dash-board/', identidad._id]" class="nav-link scrollto">← Volver</a></li>
          <li *ngIf="_usuarioService.obtenerIdentidad().rol != 'ROL_CLIENTE'"><a [routerLink]="['/admin/dash-board/', identidad._id]" class="nav-link scrollto">← Volver</a></li>


        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero" style="background-color: #072c47!important;">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Bienvenido a <span>Recomendaciones</span></h2>
          <p>Descubre un mundo de posibilidades que se despliegan ante ti.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a class="btn-get-started" style="background-color: #E08F02;">CV BUILDER</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img style="width: 180%!important;height: 110%!important" src="../../../assets/images/Recommendations/image-removebg-preview (3).png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative" >
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100" >
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bookmark-star"></i></div>
              <h4 class="title"><a  class="stretched-link">Atractivo</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a  class="stretched-link">Profesional</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-filetype-pdf"></i></div>
              <h4 class="title"><a  class="stretched-link">Prometedor</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bullseye"></i></div>
              <h4 class="title"><a  class="stretched-link">Único</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

  </section>
  <!-- End Hero Section -->

  <main id="main" style="margin-top: -2rem;">

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg" style="margin-top: -2rem;background-color: aliceblue !important;;">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recomendaciones</h2>
          <div class="col text-center" *ngIf="_usuarioService.obtenerIdentidad().rol != 'ROL_CLIENTE'">
            <button type="button"  style="background-color: #E08F02;" class="btn btn-primary text-center" id="botomAdd" data-bs-toggle="modal"
              data-bs-target="#exampleModalEventoAdd">
              <i class="bi bi-plus-circle"></i> Agregar recomendación
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
          <br>

          <p>Las mejores recomendaciones, adaptadas a tus gustos y preferencias, están a punto de convertir cada elección en una experiencia inolvidable.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <h3>Nesciunt Mete</h3>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>Eosle Commodi</h3>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>Ledo Markt</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" *ngFor="let recomendacion of recomendacionesModelGet">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <h3>{{recomendacion.titulo}}</h3>
              <p style=" text-align: justify !important;">{{recomendacion.descripcion}}</p>
              <a class="readmore stretched-link"><i class="bi bi-arrow-right"></i> Recomendación sobre: {{recomendacion.clasificacion}} </a>
              <br>
              <a class="readmore stretched-link"> Palabras clave {{recomendacion.tips}} </a>
              <hr>

              <div class="row justify-content-center" *ngIf="_usuarioService.obtenerIdentidad().rol != 'ROL_CLIENTE'">
                <div class="col-lg-6 d-flex justify-content-center">
                  <button (click)="deleteRecomendaciones(recomendacion._id)" style="background-color: #E50A0A;" type="button" class="btn btn-primary btn-sm btn-over-card">
                    -- <i class="bi bi-trash"></i>  --
                  </button>
                </div>
                <div class="col-lg-6 d-flex justify-content-center">

                  <button (click)="getRecomendacionesId(recomendacion._id)" data-bs-toggle="modal" data-bs-target="#exampleModalEditarEventos" style="background-color: #E08F02;" type="button" class="btn btn-secondary btn-sm btn-over-card">
                    --  <i class="bi bi-pen"></i>  --
                  </button>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonios</h2>
          <p>Descubre lo que dicen quienes han experimentado nuestros servicios de primera mano. En esta sección, compartimos testimonios reales de individuos cuyas vidas o negocios han sido impactados positivamente. Explora sus historias para obtener una visión auténtica de cómo nuestros servicios han hecho la diferencia. Tus experiencias hablan por sí mismas</p>
        </div>

        <div data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="container">
              <div class="row">
                  <!-- Cada div ocupa 4 columnas en dispositivos medianos y grandes -->
                  <div class="col-md-4">
                    <div class="testimonial-wrap ">
                      <div class="testimonial-item">
                        <div class="d-flex align-items-center">
                          <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                          <div>
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <div class="stars">
                              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Gracias a la asistencia de CVBuilder, pude resaltar de manera efectiva mis habilidades como CEO. La atención personalizada y el diseño profesional destacaron de manera significativa mi experiencia y visión empresarial. Los resultados fueron notables: ¡Conseguí una nueva oportunidad laboral de alto nivel en menos de un mes!
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div>                  </div>
                  <div class="col-md-4">

                    <div class="swiper-slide ">
                      <div class="testimonial-wrap">
                        <div class="testimonial-item">
                          <div class="d-flex align-items-center">
                            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                            <div>
                              <h3>Sara Wilsson</h3>
                              <h4>Designer</h4>
                              <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                              </div>
                            </div>
                          </div>
                          <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            Increíble servicio para crear mi CV como diseñadora. CVBuilder me ayudó a estructurar de manera clara y concisa mis logros en el mundo del diseño. Resaltaron mis habilidades creativas de manera que atrajeron la atención de los reclutadores. Sin duda, un impulso significativo para mi carrera en el ámbito del diseño.
                            <i class="bi bi-quote quote-icon-right"></i>
                          </p>
                        </div>
                      </div>
                    </div><!-- End testimonial item -->                  </div>
                  <div class="col-md-4">

                    <div class="swiper-slide " >
                      <div class="testimonial-wrap">
                        <div class="testimonial-item">
                          <div class="d-flex align-items-center">
                            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                            <div>
                              <h3>Jena Karlis</h3>
                              <h4>Store Owner</h4>
                              <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                              </div>
                            </div>
                          </div>
                          <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            CVBuilder va más allá de los profesionales. Como dueña de una tienda, necesitaba resaltar mi experiencia empresarial, y este servicio destacó eficazmente mis logros comerciales y habilidades de gestión. Ahora, mi CV refleja auténticamente lo que aporto como empresaria. ¡Una mejora notable en mi presentación profesional!
                            <i class="bi bi-quote quote-icon-right"></i>
                          </p>
                        </div>
                      </div>
                    </div><!-- End testimonial item -->                  </div>
              </div>
          </div>




          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->





    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Encuentra respuestas a las preguntas más comunes relacionadas con la creacion de tu CV. Si tienes inquietudes o necesitas más información, aquí podrás encontrar aclaraciones que pueden ayudarte.
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    ¿Cuál es la mejor manera de organizar la información en mi CV?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Organiza tu CV cronológicamente, comenzando con lo más reciente. Cuando tienes poca experiencia laboral, prioriza tu CV destacando objetivos profesionales claros y enfocándote en tu formación académica, habilidades clave y proyectos académicos o personales relevantes para el trabajo. Incluye cualquier experiencia laboral relacionada, incluso pasantías o voluntariados, y resalta logros, reconocimientos y actividades extracurriculares. Enfatiza resultados y utiliza datos cuantificables para respaldar tus logros. Adaptar tu CV a la industria específica y el trabajo al que aplicas es clave para mostrar tu potencial y habilidades.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    ¿Qué debo resaltar en la sección de experiencia laboral de mi CV?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Destaca tus logros específicos en cada trabajo, utilizando datos cuantificables para respaldar tus afirmaciones en el CV. Por ejemplo, liderar un proyecto de implementación que aumentó la eficiencia operativa en un 20% en seis meses o coordinar un evento corporativo que atrajo un 25% más de participantes que el año anterior. Al proporcionar ejemplos con resultados tangibles, tu CV se vuelve más impactante, demostrando claramente tu contribución al éxito de las empresas anteriores.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    ¿Cómo puedo mejorar la calidad de mi CV?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Para mejorar la calidad de tu CV, enfócate en la revisión y edición meticulosa para eliminar errores gramaticales, mantén la información clara y concisa, y elige un formato atractivo y profesional. Destaca logros específicos en cada trabajo, respaldando tus afirmaciones con datos cuantificables, y personaliza tu CV para adaptarlo a cada puesto. Incluye un perfil profesional al inicio, enumera habilidades clave y utiliza verbos de acción para describir responsabilidades. Asegúrate de incluir palabras clave relevantes y busca opiniones externas para obtener retroalimentación valiosa. Este enfoque integral asegurará que tu CV sea impactante y efectivo en el proceso de solicitud de empleo.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    ¿Cómo debo presentar mis habilidades en el CV?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                  Presenta tus habilidades en el CV de manera clara y concisa, enfocándote en aquellas relevantes para el trabajo al que aplicas. Organiza las habilidades en secciones específicas, utilizando viñetas o columnas para una fácil lectura. Destaca competencias técnicas y blandas, y respalda estas habilidades con ejemplos específicos de experiencias pasadas. Utiliza un lenguaje preciso y adapta las habilidades para que coincidan con los requisitos del puesto. Además, asegúrate de mantener actualizadas estas secciones a medida que adquieres nuevas habilidades a lo largo de tu carrera.
                                    </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    ¿Cómo adapto mi CV para diferentes puestos de trabajo?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Para adaptar tu CV a diferentes puestos de trabajo, personaliza cada sección según los requisitos específicos del trabajo al que te postulas. Prioriza la información relevante, destacando experiencias y habilidades que coincidan con las necesidades del puesto. Ajusta tu objetivo profesional al inicio para alinearlo con la posición específica. Utiliza palabras clave del anuncio de trabajo y refleja el tono y la terminología de la industria. Reorganiza las secciones para resaltar lo más relevante primero y omite detalles innecesarios. Esta adaptación estratégica garantiza que tu CV destaque de manera óptima para cada oportunidad laboral.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>

  <!-- End Footer -->

  <!-- MODAL -->

  <div class="modal fade" id="exampleModalEventoAdd" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="background-color: #040b14;">
        <h5 class="modal-title" style="color: white;" id="exampleModalLabel"><i class="bi bi-file-earmark-plus"></i>
          AÑADIR RECOMENDACIÓN</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" style="background-color: #E5E7E9">
        <form #addProductForm="ngForm">
          <div class="mb-3">
            <span *ngIf="!titulo.valid && titulo.touched" class="requiredField">
              Required field
            </span>
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo"
              #titulo="ngModel" [(ngModel)]="recomendacionesModelPost.titulo" required>
          </div>
          <div class="mb-3">
            <span *ngIf="!descripcion.valid && descripcion.touched" class="requiredField">
              Required field
            </span>
            <label for="inputDescripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="inputDescripcion" name="descripcion" #descripcion="ngModel"
              [(ngModel)]="recomendacionesModelPost.descripcion" required>
          </div>
          <div class="mb-3">
            <span *ngIf="!tips.valid && tips.touched" class="requiredField">
              Required field
            </span>
            <label for="tips" class="form-label">Palabras clave</label>
            <input type="text" class="form-control" id="tips" name="tips" min="1" #tips="ngModel"
              [(ngModel)]="recomendacionesModelPost.tips" required>
          </div>

          <div class="mb-3">
            <span *ngIf="!clasificacion.valid && clasificacion.touched" class="requiredField">
              Required field
            </span>
            <label for="clasificacion" class="form-label">Clasificación</label>
            <input type="text" class="form-control" id="inputEnlace" min="1" name="enlace" #clasificacion="ngModel"
              [(ngModel)]="recomendacionesModelPost.clasificacion" required>
          </div>


        </form>
      </div>
      <div class="modal-footer" style="background-color: #19202a;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button [disabled]="!addProductForm.form.valid" type="button" class="btn btn-success"
        data-bs-dismiss="modal" (click)="postRecomendaciones(addProductForm)">Guardar recomendación</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  PARA EDITAR EVENTOS-->
<div class="modal fade" id="exampleModalEditarEventos" tabindex="-1" aria-labelledby="exampleModalEditarEventos"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #040b14;">
        <h5 style="color: white;" class="modal-title" id="exampleModalLabel"><i class="bi bi-pencil-square"></i>
          EDITAR RECOMENDACIONES</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #E5E7E9">
        <form #editRecomendacion="ngForm">
          <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="titulo" class="form-control" id="inputNombreEvento" name="titulo" #titulo="ngModel"
              [(ngModel)]="recomendacionesModelIdEdit.titulo" required>
          </div>
          <div class="mb-3">
            <label for="inputDescripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="inputDescripcion" name="descripcion" #descripcion="ngModel"
              [(ngModel)]="recomendacionesModelIdEdit.descripcion" required>
          </div>
          <div class="mb-3">
            <label for="tips" class="form-label">Series</label>
            <input type="text" class="form-control" id="inputPrecio" name="series" min="1" #tips="ngModel"
              [(ngModel)]="recomendacionesModelIdEdit.tips" required>
          </div>

          <div class="mb-3">
            <label for="clasificacion" class="form-label">Clasificación</label>
            <input type="text" class="form-control" id="inputFecha" min="1" name="clasificacion"
              #repeticiones="ngModel" [(ngModel)]="recomendacionesModelIdEdit.clasificacion" required>
          </div>

        </form>
      </div>
      <div class="modal-footer" style="background-color: #19202a;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" [disabled]="!editRecomendacion.form.valid"
          (click)="putRecomendaciones(recomendacionesModelIdEdit._id)">Guardar recomendación</button>
      </div>
    </div>
  </div>
</div>


</body>

</html>
