/*--------------------------------------------------------------
                         BODY STYLES
----------------------------------------------------------------*/
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#345995, #3D5A80); /* Tonos azules profundos */
}

/*--------------------------------------------------------------
                   |                  CONTAINER                                   |
----------------------------------------------------------------*/

.container {
  display: flex;
  height: 509px;
  width: 770px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 5%;
  background-image: url(https://i.pinimg.com/originals/e2/47/c0/e247c0f1e3ba8ba453d2ea4886251f36.jpg);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
}

/*--------------------------------------------------------------
                   |                  INFO BLOCK                                  |
----------------------------------------------------------------*/
.Info {
  padding: 150px 50px;
  width: 50%;
  color: #fff; /* Texto blanco para contraste en fondo oscuro */
  text-align: center;
  margin-bottom: 20px;
}

/*--------------------------------------------------------------
                   |                   FORM STYLES                                 |
----------------------------------------------------------------*/
form {
  background-color: #fff;
  padding: 150px 50px;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: auto;
  color: #333; /* Texto oscuro para contraste en fondo claro */
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #f2f5f8; /* Un tono de gris azulado claro */
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:hover {
  background-color: #e6ebf1; /* Un tono más claro para el estado hover */
  border: 1px solid #99a7b4; /* Un contorno más definido para el estado hover */
  transition: background-color 0.3s, border 0.3s; /* Efecto de transición suave */
}

/*--------------------------------------------------------------
                   |                 BUTTON STYLES                               |
----------------------------------------------------------------*/
button {
  background-color: darkcyan;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #4592a0;
  transition: background-color 0.3s, box-shadow 0.3s;
}
