<header id="header" class="header fixed-top d-flex align-items-center py-2">
  <div class="container d-flex align-items-center justify-content-between">

    <div id="logo">
      <h1><a ><span></span> CV BUILDER</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="navbar" class="navbar ">
      <ul>
        <li ><a class="nav-link scrollto active" >Perfil</a></li>
        <li><a class="nav-link scrollto" ></a></li>
        <li *ngIf="_usuarioService.obtenerIdentidad().rol == 'ROL_CLIENTE'"><a [routerLink]="['/user/dash-board/', identidad._id]" class="nav-link scrollto">← Volver</a></li>
        <li><a class="nav-link scrollto" ></a></li>


      </ul>
    </nav><!-- .navbar -->

  </div>

</header><!-- End Header -->
<body>

  <body>
    <section class="background-radial-gradient overflow-hidden">
      <style>
        .background-radial-gradient {
          background-color: #072c47;
          background-image: radial-gradient(650px circle at 0% 0%,
              #126dbcda 5%,
              #126abcdb 20%,
              #5d9ac5 30%,
              #5d8ec5 40%,
              transparent 90%),
            radial-gradient(1250px circle at 100% 100%,
              #ffffff7c 5%,
              #c5c5c5 15%,
              #c2c2c279 20%,
              #3c616c2f 30%,
              transparent 70%);
        }

        #radius-shape-1 {
          height: 220px;
          width: 220px;
          top: -60px;
          left: -130px;
          background: radial-gradient(#f3a11f, #f9de455b);
          overflow: hidden;
        }

        #radius-shape-2 {
          border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
          bottom: -60px;
          right: -110px;
          width: 300px;
          height: 300px;
          background: radial-gradient(#F3A11F, #f9de455b);
          overflow: hidden;
        }

        .bg-glass {
          background-color: hsla(0, 0%, 100%, 0.9) !important;
          backdrop-filter: saturate(200%) blur(25px);
        }
    </style>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container"  >
    <div class="row flex-lg-nowrap" >
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <br><br><br>
            <div class="card" style="background-color: #EBF5FB;">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239); border-radius: 10px;">
                          <img src="../../../assets/images/Recommendations/perfil.png" alt="Perfil" style="max-height: 100%; max-width: 100%; border-radius: 10%;">
                        </div>

                      </div>
                    </div>

                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ _usuarioService.obtenerIdentidad().nombre }} {{ _usuarioService.obtenerIdentidad().apellido }}</h4>
                        <p class="mb-0"></p>
                        <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                        <div class="mt-2">
                          <button class="btn btn-warning" type="button" style="background-color: #E08F02;">
                            <i class="fa fa-fw fa-camera"></i>
                            <span>Change Photo</span>
                          </button>
                        </div>
                      </div>
                      <div class="text-center text-sm-right">
                        <span class="badge badge-secondary">administrator</span>
                        <div class="text-muted"><small>Joined 09 Nov 2023</small></div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a  class="active nav-link">Configuración</a></li>
                  </ul>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Nombre</label>
                                  <input name="nombre" #nombre="ngModel" [(ngModel)]="userModelId.nombre" required type="text" class="form-control" type="text" name="name"  >
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Apellido</label>
                                  <input name="apellido" #apellido="ngModel" [(ngModel)]="userModelId.apellido" required type="text" class="form-control" type="text" name="username" >
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>

                                  <input pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="direccion" #direccion="ngModel" [(ngModel)]="userModelId.direccion" required class="form-control" type="text" placeholder="user@example.com">
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Telefono</label>
                                  <input name="telefono" #telefono="ngModel" [(ngModel)]="userModelId.telefono" required type="text" class="form-control" type="text" name="telefono" >
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Dirección</label>
                                  <input name="direccion" #direccion="ngModel" [(ngModel)]="userModelId.direccion" required type="text" class="form-control" type="text" name="direccion" >
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>Acerda de</label>
                                  <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Edición de perfil</b></div>
                            <p style="text-align: justify;">En nuestra sección de edición de perfil, tú eres la estrella. Dale vida a tu historia profesional,
                              destaca tus logros y habilidades de manera impactante. Es el lienzo donde tu carrera cobra vida,
                              así que ¡vamos a hacerlo inolvidable! </p>

                          </div>
                          <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                            <div class="mb-2"><b>CVBuilder</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="custom-controls-stacked px-2">
                                  <div class="custom-control custom-checkbox">
                                    <label class="custom-control-label" for="notifications-blog">"Transforma tu futuro profesional con CVBuilder: la herramienta que potencia tu currículum y te impulsa hacia nuevas oportunidades laborales."</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button  style="background-color: #072c47;" type="button" id="boton" class="btn btn-primary" (click)="putUser()">Guardar</button>
                            <button type="button" class="btn btn-outline-danger ms-1" (click)="deleteUser()">Eliminar</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
